:root {
    --br:8px;
    --gradient: linear-gradient(130deg, #a1179b, #319197 76.05%, #23d5ab);
    --gradient-animation: gradient 15s ease infinite; 
    --grey: rgb(85, 83, 83);
    --dark-grey: #242424;
    --white:rgba(255, 255, 255, 0.87); 

    --text-color: var(--white);


    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: dark;
    color: var(--text-color);
    background-color: var(--dark-grey);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    color: var(--white);
    z-index:-1;
    min-width: 320px;
    min-height: 100vh;
}

h1, h1 a  {
    margin:0;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 1.1;
}

#app { 
    margin: 0 auto;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

